@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    transition: .4s;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    justify-content: center;
}

.container {
    width: 60%;
    min-height: fit-content;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid green;
    background-color: orangered;
}

.main {
    margin-top: 25px;

}

h1 {
    text-align: center;
}

h3 {
    padding: 10px;
}

.answerButtons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

button {
    cursor: pointer;
}

.btn {
    text-align: left;
    padding: 10px 25px 10px 25px;
    transition: .6s;
}

.btn:hover {
    background-color: rgb(68, 65, 65);
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

.nextButton {
    width: 30%;
    padding: 8px;
    display: none;
    margin: 20px auto 10px auto;
}

p {
    margin-top: 5px;
    color: white;
    font-size: .8rem;
}

.back {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    margin-top: 30px;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 6px;
    color: black;
    font-weight: 500;
}

.correct {
    background-color: #9aeabc;
}

.wrong {
    background-color: #ff9393;
}

@media (max-width: 550px) {
    .container {
        width: 80%;
    }

    .wrapper {
        height: 100vh;
    }
}